<!-- 들어 올때마다 랜덤하게 뜨는 과자 배너 -->
<div class="jumbotron">
  <img src="<%= @banner.url %>">
  <h1><%= @banner.title %></h1>
  <h4><%= @banner.summary %></h4>
  <p class="lead"><%= @banner.intro %></p>
  <!-- 평점 별점 -->
  <!-- class="on" 위치에 따라 채워지는 별이 다름 -->
  <div class="star">
    <span class="star-rating">
      <i></i>
      <i></i>
      <i class="on"></i>
      <i></i>
      <i></i>
    </span>
  </div><!-- / 평점 별점 -->
  <p><a class="btn btn-lg btn-success" href="/home/show/<%= @banner.id %>" role="button">자세히 보기</a></p>
</div>
<!-- 배너 끝 -->

<div class="row marketing">
  <!-- 데이터베이스에서 불러와 반복하여 뿌려줄 방송 정보 -->
  <% @snacks.each do |s| %>
    <div class="col-md-4">
      <img src="<%=s.url%>" class="img-thumbnail">
      <h3><%= s.title %></h3>
      <h5><%= s.summary %></h5>
      <p><%= s.intro %></p>
      <div class="star">
        <span class="star-rating star-small">
          <i></i>
          <i></i>
          <i></i>
          <i class="on"></i>
          <i></i>
        </span>
        <p id="count">4.2 점 (250 명)</p>
      </div>
      <p><a class="btn btn-sm btn-success" href="/home/show/<%=s.id%>" role="button">자세히 보기</a></p>
    </div>
  <% end %>
</div>
  <!-- 끝 -->