<!-- 들어 올때마다 랜덤하게 뜨는 과자 배너 -->
<div class="jumbotron">
  <img src="<%= @snack.url %>">
  <h1><%= @snack.title %></h1>
  <h4><%= @snack.summary %></h4>
  <p class="lead"><%= @snack.intro %></p>
  <p id="count"><%= @snack.avg.round(1) %> 점(<%= @snack.comments.count %> 명)</p> <%# 소수 첫번째 자리까지 나타내기 %>
  <!--<form>-->
    <!-- 평점 별점 -->
    <%= form_tag "/home/save_star", method: "post" do %>
    <div class="star">
      <input type="hidden" name="snack_id" value="<%= @snack.id %>">
      <span class="star-rating">
        <input type="radio" name="rating" value="1"><i></i>
        <input type="radio" name="rating" value="2"><i></i>
        <input type="radio" name="rating" value="3"><i></i>
        <input type="radio" name="rating" value="4"><i></i>
        <input type="radio" name="rating" value="5"><i></i>
      </span>
    </div><!-- / 평점 별점 -->

    <input class="form-control" type="text" name="comment" 
    style="margin-bottom: 15px;" placeholder="댓글을 입력해주세요...">
    <p><button class="btn btn-primary" type="submit">댓글달기</button></p>
  <!--</form>-->
  <% end %>
</div>
<!-- 배너 끝 -->

<!-- 댓글리스트 -->    
<div class="row marketing">
  <!-- 데이터베이스에서 불러와 반복하여 뿌려줄 과자 정보 -->
   <!-- row -->
   <div class="row">
      <div class="col-lg-12">
        <ul class="list-group">
            <li class="list-group-item"><h4>댓글</h4></li>
            
            <% @snack.comments.each do |c|%>
            <li class="list-group-item">
              <h5><%=c.user.email %></h5>
              <!-- 평점 별점 -->
              <div class="star">
                <span class="star-rating star-small">
                  <% 1.upto(5) do |i| %>
                    <% if i == c.score %>
                      <i class="on"></i>
                    <% else %>
                      <i></i>
                    <% end %>
                  <% end %>
                </span>
              </div><!-- / 평점 별점 -->    
              <p><%=c.content %></p>
              <hr>
            </li>
            <% end %>
        </ul>      
      </div>
    </div><!-- / row -->
</div><!-- /댓글리스트 -->